<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7 for All Mankind</string>
    <string>A Pea in the Pod</string>
    <string>AG Jeans</string>
    <string>ASOS</string>
    <string>ABercrombie</string>
    <string>Ace and Jig</string>
    <string>Aden + Anais</string>
    <string>Adidas</string>
    <string>Adorable Essentials</string>
    <string>Alice + Ames</string>
    <string>American Apparel</string>
    <string>American Girl</string>
    <string>Angel Dear</string>
    <string>BCBG</string>
    <string>Bby K'Tan'</string>
    <string>Baby Nay</string>
    <string>CHOOZE</string>
    <string>Cach Cach</string>
    <string>Cakewalk</string>
    <string>Calvin Klein</string>
    <string>H and M</string>
    <string>Other</string>
</array>
</plist>
